<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9318566715-3rse5ico1iagavg28s8r4qf9rdeks8gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9318566715-3rse5ico1iagavg28s8r4qf9rdeks8gd</string>
	<key>API_KEY</key>
	<string>AIzaSyB46--0WHKBsJl9x9_Gwg9Gr-fhV-TKDts</string>
	<key>GCM_SENDER_ID</key>
	<string>9318566715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyuphanakkaya.FotografPaylasimUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasimuygulama-b105c</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasimuygulama-b105c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9318566715:ios:b835ef4fa0244f5ec6051e</string>
</dict>
</plist>